body {
    background-color: #FFDCDC;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    max-width: 500px;
    
}

img {
    width: auto;
    height: auto;
    max-width: 475px;
}
h1 {
    color: #B6ADDB;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}


img {
    border-radius: 5%;
}

li {
    padding: 1%;
}

.recipeorigin {
    font-size: 10px;
}